<div class="footer column">
    <div class="container">

        {{ if .Site.Params.githubRepo }}
            <div class="copyright">
            {{ $length := len ( split .Site.Params.githubRepo "/" ) }}
            {{ if eq $length 2 }}
                <a href="https://github.com/{{ .Site.Params.githubRepo }}/tree/master/content/{{ replace .File.Path "\\" "/" }}" target="_blank">View this post on GitHub</a>
            {{ else }}
                <a href="https://github.com/{{ .Site.Params.githubRepo }}/content/{{ replace .File.Path "\\" "/" }}" target="_blank">View this post on GitHub</a>
            {{ end }}
            </div>
        {{ end }}

        <div class="copyright">

        {{ if .Site.Params.copyright }}
            {{ if .Site.Params.copyrightUrl }}
                <a href="{{ .Site.Params.copyrightUrl }}">{{ replace .Site.Params.copyright "{year}" now.Year }}</a>
            {{ else }}
                <a href="{{ .Site.BaseURL }}license">{{ replace .Site.Params.copyright "{year}" now.Year }}</a>
            {{ end }}
        {{ end }}

        </div>
        <div class="icons">

        {{ if .Site.Params._500px }}
            <a href="https://500px.com/{{ .Site.Params._500px }}" rel=me target="_blank">
                <img class="icon" src="{{ .Site.BaseURL }}img/500px.svg" alt="500px" />
            </a>
        {{ end }}

        {{ if .Site.Params.github }}
            <a href="https://github.com/{{ .Site.Params.github }}" rel=me target="_blank">
                <img class="icon" src="{{ .Site.BaseURL }}img/github.svg" alt="github" />
            </a>
        {{ end }}

        {{ if .Site.Params.linkedin }}
            <a href="https://www.linkedin.com/in/{{ .Site.Params.linkedin }}" rel=me target="_blank">
                <img class="icon" src="{{ .Site.BaseURL }}img/linkedin.svg" alt="linkedin" />
            </a>
        {{ end }}

        {{ if .Site.Params.email }}
            <a href="mailto:&#102;&#117;&#109;&#097;&#103;&#097;&#108;&#108;&#105;&#046;&#109;&#097;&#116;&#116;&#101;&#111;&#064;&#112;&#111;&#115;&#116;&#101;&#111;&#046;&#110;&#101;&#116;">
                <img class="icon" src="{{ .Site.BaseURL }}img/email.svg" alt="email" />
            </a>
        {{ end }}

        </div>
    </div>
</div>

{{ partial "footer_scripts" . }}

</body>
</html>
